<ul class="list">
  <% if (list && list.length > 0) {
    const keystrokes = '123456789abcdefghijklmnopqrstuvwxyz'.split('')
    let index = 0
    %>
    <% list.forEach(function(item) { %>
      <%
        let id = null
        switch (type) {
          case "theme":
            id = item.theme_id
            break
          case "preset":
            id = item.preset_id
            break
          default:
            id = item.track_id
        }
      %>
      <li class="list__item" data-order="<%= item.order %>" data-id="<%= id %>" draggable="true"
        <% if (type === 'theme' || type === 'preset') { %>
            <% if (id == init_theme && type === 'theme') { %>
              data-state="selected"
            <% }
            if (id == init_preset && type === 'preset') { %>
              data-state="selected"
            <% } %>
        <% } %>
      >

        <% if (type === 'theme' || type === 'preset') { %>
          <input data-action="select" type="button" value="<%= item.name %>">
          <%- include('actions') %>
        <% } %>
        <% if (type === "track") { %>
          <%- include('track-item', {'title': item.name}) %>
        <% } %>
        <% if (type === "effect") { %>
          <%- include('effect-item', {'title': item.name, 'keystroke': keystrokes[index]}) %>
          <% index++ %>
        <% } %>

      </li>
    <% }) %>
  <% } else { %>
    <li class="empty">No <%= type %>s added yet!</li>
  <% } %>
</ul>