<ul class="list">
  <% if (list && list.length > 0) {
    const keystrokes = '123456789abcdefghijklmnopqrstuvwxyz'.split('')
    let index = 0
    %>
    <% list.forEach(function(item) { %>
      <li class="list__item" data-order="<%= item.order %>" data-id="<%= item.id %>" draggable="true"
        <% if (type === 'theme' || type === 'preset') { %>
            <%= (item.id === last_active_theme && type === 'theme' ||
                item.id === last_active_preset && type === 'preset') ? " data-state=\"selected\"" : '' %>
        <% } %>
      >
        <% if (type === 'theme' || type === 'preset') { %>
          <input data-action="select" type="button" value="<%= item.title %>">
          <%- include('actions') %>
        <% } %>
        <% if (type === "track") { %>
          <%- include('track-item', {'title': item.title}) %>
        <% } %>
        <% if (type === "effect") { %>
          <%- include('effect-item', {'title': item.title, 'keystroke': keystrokes[index]}) %>
          <% index++ %>
        <% } %>

      </li>
    <% }) %>
  <% } else { %>
    <li class="empty">No <%= type %>s added yet!</li>
  <% } %>
</ul>