<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://taufik-nurrohman.js.org/color-picker/index.min.css">
    <link rel="stylesheet" href="../dist/css/site.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=<%= font %>&display=swap" rel="stylesheet">
    <title>Game Master Player</title>
    <%
      let lastIndex = accent_color_raw.lastIndexOf(')')
      let accent_color_trans = [accent_color_raw.slice(0,lastIndex), ', 70%', accent_color_raw.slice(lastIndex)].join('')
    %>
    <style>
      :root {
        --primary-100: <%= shades[0] %>;
        --primary-200: <%= shades[1] %>;
        --primary-300: <%= shades[2] %>;
        --primary-400: <%= shades[3] %>;
        --primary-400-trans: <%= shades[4] %>;
        --primary-500: <%= shades[5] %>;
        --primary-600: <%= shades[6] %>;
        --primary-600-trans: <%= shades[7] %>;
        --accent: <%= accent_color_raw %>;
        --accent-trans: <%= accent_color_trans %>;
        --font: "<%= font.replace(" +", ' ') %>";
      }
    </style>
  </head>
  <body style="background-image: url(<%= background_image %>)"` %>>
    <div class="blurred-underlay"></div>
    <div class="header-bg"></div>
    <main>
      <button class="button" data-action="themes-toggle">
        <span class="arrow"><%- include('./icons/arrow.svg') %></span>
        Themes
      </button>
      <section id="theme">
        <%- include('./partials/list-header', {'type': 'theme', 'placeholder': "E.g The Flamespike Citadel"}) %>
        <%- include('./partials/list', {'type': 'theme', 'list': init_themes}) %>

      </section>
      <div class="theme-related">
        <section id="preset">
          <%- include('./partials/list-header', {'type': 'preset', 'placeholder': "E.g Tavern, Forest, Temple, Goblin Hideout"}) %>
          <%- include('./partials/list', {'type': 'preset', 'list': init_presets}) %>
        </section>
        <section id="track">
          <%- include('./partials/list-header', {'type': 'track', 'placeholder': "E.g Howling Wind, Bard Music, Crackling Fire"}) %>
          <%- include('./partials/list', {'type': 'track', 'list': init_music}) %>
        </section>
        <section id="effect">
          <%- include('./partials/list-header', {'type': 'effect', 'placeholder': "E.g War Cry, Weapon Hits, Fire Spell"}) %>
          <%- include('./partials/list', {'type': 'effect', 'list': init_effects}) %>
        </section>
      </div>
    </main>
    <aside>
      <div id="infobox" class="dialog"><%- include('./partials/infobox') %></div>
      <div id="toast" class="toast"><%- include('./partials/toast') %></div>
      <div id="settings" class="dialog"><%- include('./partials/settings') %></div>
    </aside>
    <footer class="app-footer">
      <div class="app-footer__buttons">
        <button class="button button--action" data-action="settings" aria-label="Settings" title="Settings">
          <%- include('./icons/gear.svg') %>
        </button>
        <button class="button button--action" data-action="info" aria-label="Information" title="Information">
          <%- include('./icons/info.svg') %>
        </button>
        <button class="button button--action" data-action="stop" aria-label="Stop" title="Stop">
          <%- include('./icons/stop.svg') %>
        </button>
      </div>
      <div class="app-footer__sliders">
        <div class="effect-volume">
          <label class="volume-slider__label">Effects</label>
          <div class="volume-slider">
            <%- include("./icons/speaker.svg") %>
            <div class="volume-slider__background">
              <input id="main-effects-volume" class="volume-slider__bar" type="range" min="0" max="100" value="75">
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="templates">
      <template id="item">
        <li data-order="" draggable="true" data-id="" class="list__item">
          <input data-action="select" type="button" value="">
          <button class="button button--action" data-action="delete">
            <%- include("./icons/trashcan.svg") %>
          </button>
        </li>
      </template>
      <template id="track-item">
        <li class="list__item" data-order="" data-id="" draggable="true">
          <div class="track__row">
            <div class="track__info">
              <span class="track__title"></span>
              <div class="volume-slider">
                <%- include("./icons/speaker.svg") %>
                <div class="volume-slider__background">
                  <input class="volume-slider__bar" type="range" min="0" max="100" value="75">
                </div>
              </div>
            </div>
          <%- include('./partials/actions', {type: 'track'}) %>
        </div>
      </li>
      </template>
      <template id="track-files">
        <div class="dialog" class="track-dialog">
          <div class="dialog__outer">
            <div class="dialog__inner">
              <button data-action="close-dialog" aria-label="close dialog" title="Close settings">&times;</button>
              <button id="new-track-file" class="button">Add file(s) to track</button>
              <div class="dialog__files">
                <h2>Files in track:</h2>
                <ul class="files"></ul>
                <template id="file">
                  <li class="files__file" data-filename="" data-id="">
                    <span class="file__name">filename</span>
                    <button class="button button--action" data-action="delete-file" title="Delete">
                      <%- include("./icons/trashcan.svg") %>
                    </button>
                  </li>
                </template>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template id="effect-item">
        <li class="list__item no-files" data-order="" data-id="" draggable="true">
          <div class="track__inner">
            <div class="track__title-container">
              <span class="track__title"></span>
            </div>
            <div class="keystroke__container">
              <button class="keystroke" data-action="play" data-keystroke=""></button>
            </div>
            <%- include('./partials/actions', {type: 'effect'}) %>
          </div>
        </li>
      </template>
    </div>
  </body>
  <script src="https://taufik-nurrohman.js.org/color-picker/index.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
  <script src="../renderer.js"></script>
  <script src="../dist/js/site.js"></script>
</html>