<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../dist/css/site.css">
    <title>Game Master Player</title>
  </head>
  <body>
    <div class="blurred-underlay"></div>
    <div class="header-bg"></div>
    <main>
      <section id="theme">
        <button class="button" data-action="themes-toggle">
          <span class="arrow"><%- include('./icons/arrow.svg') %></span>
          Themes
        </button>
        <%- include('./partials/list-header', {'type': 'theme', 'placeholder': "E.g The Flamespike Citadel"}) %>
        <%- include('./partials/list', {'type': 'theme', 'list': [{'id': 1, 'title': 'My theme'}, {'id': 2, 'title': "Another theme"}]}) %>
      </section>
      <div class="theme-related">
        <section id="preset">
          <%- include('./partials/list-header', {'type': 'preset', 'placeholder': "E.g Tavern, Forest, Temple, Goblin Hideout"}) %>
          <%- include('./partials/list', {'type': 'preset', 'list': [{'id': 1, 'title': 'Default'}, {'id': 2, 'title': "My Preset"}]}) %>
        </section>
        <section id="track">
          <%- include('./partials/list-header', {'type': 'track', 'placeholder': "E.g Howling Wind, Bard Music, Crackling Fire"}) %>
          <%- include('./partials/list', {'type': 'track', 'list': [{'id': 1, 'title': 'Howling Wind'}]}) %>
        </section>
        <section id="effect">
          <%- include('./partials/list-header', {'type': 'effect', 'placeholder': "E.g War Cry, Weapon Hits, Fire Spell"}) %>
          <%- include('./partials/list', {'type': 'effect', 'list': [{'id': 1, 'title': "Fireball"}]}) %>
        </section>
      </div>
    </main>
    <aside>
      <div id="infobox" class="dialog"></div>
      <div id="toast" class="toast"></div>
      <div id="settings" class="dialog"></div>
    </aside>
    <footer class="app-footer">
      <div class="app-footer__buttons">
        <button class="button button--action" data-action="settings" aria-label="Settings" title="Settings">
          <%- include('./icons/gear.svg') %>
        </button>
        <button class="button button--action" data-action="info" aria-label="Information" title="Information">
          <%- include('./icons/info.svg') %>
        </button>
        <button class="button button--action" data-action="stop" aria-label="Stop" title="Stop">
          <%- include('./icons/info.svg') %>
        </button>
      </div>
      <div class="app-footer__sliders">
        <div class="effect-volume">
          <label class="volume-slider__label">Effects</label>
          <div class="volume-slider">
            <%- include("./icons/speaker.svg") %>
            <div class="volume-slider__background">
              <input class="volume-slider__bar" type="range" min="0" max="100" value="75">
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="../renderer.js"></script>
  <script src="../dist/js/site.js"></script>
</html>